#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-image: url("/imgs/chat.jpg");
  background-color: rgba(0, 128, 128, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.selected {
  display: flex;
  flex-direction: row;
  background-color: teal;
  justify-content: space-around;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 8px;
}

.notSelected {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 8px;
}

.selectedInitials {
  background-color: white;
  color: teal;
}

.notSelectedInitials {
  background-color: teal;
  color: white;
}

.selectedNameEmail {
  color: white;
}

.notSelectedNameEmail {
  color: teal;
}

.selectedUserBtn {
  background-color: white;
  color: teal;
}

.selectedUserBtn:hover {
  background-color: teal;
  color: white;
}
.notSelectedUserBtn {
  background-color: teal;
  color: white;
}

.notSelectedUserBtn:hover {
  background-color: #fff;
  color: teal;
}

/* MESSAGES */
.send {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.receive {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

/* SCROLL */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3b82f6 #e5e7eb; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* Light gray background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Blue thumb */
  border-radius: 4px; /* Rounded edges */
}
